// base color
$blue:#36A3F7;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#82a1a8;
$menuActiveText:#4AB7BD;
$subMenuActiveText:#30B08F; // https://github.com/ElemeFE/element/issues/12951

// $menuBg:#304156;   //菜单整体颜色
// $menuHover:#263445;    //菜单悬浮变色

// $subMenuBg:#1f2d3d;    //子菜单背景
// $subMenuHover:#001528;    //子菜单悬浮背景


$menuBg:rgba(227, 241, 247,0.1);//侧边栏背景/hover/标题颜色 -高亮深紫蓝
$menuHover:#f2f4ff;

$subMenuBg:#fff;//展开里面背景色/hover颜色
$subMenuHover:#f2f4ff;


$sideBarWidth: 198px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
